 /* GENERAL STYLING */
 
 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

 /* HEADER STYLING */

header {
    background-color: lightcoral;
}

 /* MAIN AREA STYLING */

main {
    background-color: lightblue;
}

 /* FOOTER STYLING */

footer {
    background-color: orange;
}