/* GOOGLE FONTS IMPORT */

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
 
 /* GENERAL STYLING */
 
 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* BODY STYLING */

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* GENERIC PROJECT STYLES */
    color: #3a3a3a;
    font-family: 'Lato', sans-serif;
}

/* GENERAL H1, H2, H3 SYLING */

h1, h2, h3 {
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #252525;
}

/* CLASS TO HIDE CONTENT */

.hidden-heading {
    display: none;
}

 /* HEADER STYLING */

header {
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 2px 2px #3a3a3a;
}

header a {
    text-decoration: none;
    color: inherit;
}

#menu {
    font-size: 110%;
    letter-spacing: 4px;
    list-style-type: none;
}

#menu > li {
    margin-bottom: 1em;
}

.active {
    border-bottom: 1px solid #3a3a3a;
}

/* NAVBAR STYLES WITH DROPDOWN TOGGLE */

nav {
    display: none;
    position: absolute;
    background-color: #ffffff;
    left: 0;
    padding: 0 1rem;
    width: 100%;
    box-shadow: 0 2px 2px #3a3a3a;
    top: 100%;
}

/* NAV TOGGLE */

#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2rem;
}

 /* MAIN AREA STYLING */

main {
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
    margin-top: 47px;
}

/* HERO IMAGE */

#hero {
    height: 600px;
    width: 100%;
    background: url(../images/hero-image.webp) no-repeat center center/cover;
    position: relative;
}

#cover-text {
    /* SEMI-TRANSPARENT BACKGROUND FOR HERO */
    background-color: rgba(241, 109, 107, .7);
    font-size: 130%;
    position: absolute;
    bottom: 30px;
    width: 80%;
    min-height: 200px;
    padding-top: 40px;
    padding-left: 10px;
}

#cover-text > h2, #cover-text > h3 {
    color: #ffffff;
}

/* REASONS STYLING */

#reasons {
    width: 90%;
    margin: 20px auto;
}

#reasons > h2 {
    font-size: 280%;
    text-align: center;
    margin-bottom: 20px;
}

#benefits hr {
    border-top: 1px solid #3a3a3a;
    margin: 5px 0;
}

#benefits p {
    padding: 0 20px;
}

#benefits-physical > div, #benefits-mental > div {
    line-height: 20px;
    margin-bottom: 20px;
}

/* REASONS IMAGE */

#circle-cover-bg {
    background: url(../images/reasons-image.webp) no-repeat center center/cover;
    width: 90vw;
    height: 90vw;
    margin-bottom: 20px;
    border-radius: 50%;
    max-width: 300px;
    max-height: 300px;
}

#benefits-image {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* MEETUP STYLING */

#times {
    background: url(../images/dublin-city.webp) no-repeat center/cover;
    display: flex;
    flex-wrap: wrap;
}

#times > div {
    color: #fafafa;
    background-color: rgba(0, 0, 0, .6);
    padding: 15px;
    text-align: center;
    /* STYLING FOR SMALL SCREENS, USING ROWS */
    flex-basis: 200px;
    flex-grow: 1;
    /* BORDER FOR EACH SEGMENT */
    border: 2px solid white;
}

#times h3 {
    color: #fafafa;
}

/* GALLERY PAGE */

#photos {
    line-height: 0;
}

#photos img {
    width: 100%;
    line-height: 1em;
}

/* SIGNUP PAGE */

/* SECTION */

#signup {
    background: url(../images/signup-image.webp) no-repeat;
    background-size: cover;
    background-position: 75%;
    display: flex;
    flex-grow: 1;
    padding: 20px 10% 0 10%;
}

#signup-form {
    color: #ffffff;
    background-color: rgba(60, 60, 60, .6);
    padding: 30px;
}

#signup-form > h2 {
    color: #fafafa;
    margin-bottom: 20px;
}

/* TEXT, RADIO, SUBMIT */

.text-input {
    background: transparent;
    color: #fafafa;
    width: 100%;
    height: 25px;
    border: 1px solid #fafafa;
    border-radius: 2px;
    margin-top: 5px;
    margin-bottom: 20px;
    padding: 0 5px;
}

.radio-buttons {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.join-button {
    margin-top: 20px;
    padding: 15px 32px;
    border-radius: 2px;
    background-color: #454b1b;
    color: #fafafa;
    font-size: 100%;
}

/* FOOTER STYLING */

#social-networks {
    text-align: center;
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    text-decoration: none;
}

#social-networks i {
    font-size: 160%;
    padding: 5%;
    color: #3a3a3a;
}

/* OPTIMIZATION FOR LARGE PHONES OR LANDSCAPE MODE OVER 576 PIXELS */

@media screen and (min-width: 576px) {
    #photos {
        column-count: 2;
        column-gap: 0;
    }
}

/* OPTIMIZATION FOR SCREENS OVER 768 PIXELS (TABLET) */

@media screen and (min-width: 768px) {

    /* NAVIGATION TABLET */
    
    nav {
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
        padding-right: 1rem;
    }

    .nav-toggle-label {
        display: none;
    }

    #logo {
        font-size: 280%;
        line-height: 75px;
        margin: 0 0.5rem;
    }

    /* MENU TABLET */

    #menu {
        display: flex;
    }

    #menu > li {
        padding-left: 1rem;
    }

    /* MAIN TABLET */

    main {
        margin-top: 79px;
    }

    /* HERO */

    #cover-text {
        width: 300px;
        right: 50px;
    }

    /* REASONS */

    #benefits-physical, #benefits-mental {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    #benefits-physical > div, #benefits-mental > div {
        width: 75%;
    }

    #benefits-mental > div {
        text-align: end;
        align-self: flex-end;
    }

    /* GALLERY */

    #photos {
        column-count: 3;
    }

    /* SIGNUP */

    #signup {
        background-position: center;
        position: relative;
    }

    #signup-form {
        max-width: 400px;
        position: absolute;
        left: 10%;
        margin-top: 150px;
    }

    .text-input:hover {
        border-color: #f16c6b;
    }

    .join-button:hover {
        background-color: #fafafa;
        color: #454b1b;
    }

}

/* OPTIMIZATION FOR SCREENS OVER 992 PIXELS (DESKTOP) */

@media screen and (min-width: 992px) {

    /* LINK UNDERLINE */

    a:hover {
        border-bottom: 1px solid #3a3a3a;
    }

    /* GALLERY */

    #photos {
        column-count: 4;
    }

}

/* OPTIMIZATION FOR SCREENS OVER 1200 PIXELS (DESKTOP) */

@media screen and (min-width: 1200px) {

    /* ORDER OF BENEFITS SECTION ON LARGE DESKTOP */

    #benefits {
        display: flex;
        flex-direction: row;
    }

    #benefits > div {
        flex: 1;
    }

    #benefits-mental {
        order: 1;
    }

    #benefits-image {
        order: 0;
    }

    #benefits-mental > div {
        align-self: flex-start;
    }

    #benefits-physical > div {
        align-self: flex-end;
    }

}